<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>1Registration_page</title>
<style>
    /* CSS for positioning */
    .container {
        display: flex;
        justify-content: space-between;
    }
    .left {
        width: 45%;
    }
    .right {
        width: 45%;
    }
    /* Additional styling */
    label {
        display: block;
        margin-bottom: 5px;
    }
</style>
</head>
<body>

<h1>Validate to change User Settings</h1>

<div class="container">
    <div class="left">
        <!-- Register values-->
        <form action="changeUserSettings" method="post">
            <label for="firstname"> 
                <input type="checkbox" name="updateFname"  value="true"/> First name: 
            </label>
            <input type="text" name="fname"  placeholder="Change first name" /> <br/>

            <label for="lastname">
                <input type="checkbox" name="updateLname" value="true"/> Last name:
            </label>
            <input type="text" name="lname" placeholder="Change last name"/> <br/>

            <label for="password">
                <input type="checkbox" name="updatePasswd" value="true"/> Password:
            </label>
            <input type="Password" name="passwd" placeholder="Change password "/> <br/>

            <label for="balance">
                <input type="checkbox" name="updateBalance" value="true"/> The amount of money:
            </label>
            <input type="number" name="balance" placeholder="Change balance"/> <br/>

            <!-- Other content of your page goes here -->
            <p>Register  (First Name): <span th:text="${param.FirstName}"></span></p>
            <p>Register  ( email): <span th:text="${param.email}"></span></p>

            <button type="submit">Submit</button>


        </form>
    </div>
</div>

</body>
</html>
