<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>1Registration_page</title>
<style>
    /* CSS for positioning */
    .container {
        display: flex;
        justify-content: space-between;
    }
    .left {
        width: 45%;
    }
    .right {
        width: 45%;
    }
    /* Additional styling */
    label {
        display: block;
        margin-bottom: 5px;
    }
</style>
</head>
<body>

<h1>Validate to change User Settings</h1>

<div class="right">
    <!-- Login values-->
    <form action="validateForChangingUserSettings2" method="post">
        <label for="email">Email :</label> <br/>
        <input type="email" name="email" required/> <br/>
        

        <!-- Authorization code input -->
        <div>
            <label for="authCode">Authorization Code:</label><br>
            <input type="text" id="authCode" name="authCode" placeholder="Enter authorization code">
            <!-- Display validation failure message (can still try 3 more times) -->
            <div th:if="${cheackValidation2}" style="color: red">Auth Code is wrong. Number of tries left: <span th:text="${NumberOfLoginAttempts}"></span>.</div>
            <!-- Sending mail to user  -->
            <div th:if="${validationConfirmed}" style="color: green">Sent new auth code to mail... cheack your mail .</div>


        </div>

        <br/>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>
