<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>1Registration_page</title>
<style>
    /* CSS for positioning */
    .container {
        display: flex;
        justify-content: space-between;
    }
    .left {
        width: 45%;
    }
    .right {
        width: 45%;
    }
    /* Additional styling */
    label {
        display: block;
        margin-bottom: 5px;
    }
</style>
</head>
<body>

<h1>Validate to change User Settings</h1>

<div class="right">
    <!-- Login values-->
    <form action="validateForChangingUserSettings" method="post">
        <label for="email">Email :</label> <br/>
        <input type="email" name="email" required/> <br/>
        
        <label for="password">Password :</label> <br/>
        <input type="password" name="passwd" required/> <br/>

        

        <!-- Display fail message message -->
        <div th:if="${cheackValidation}" style="color: red">User mail or password incorrect try again</div>




        <br/>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>
