<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot MySQL Image Upload / View</title>
    <!--Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                    <li class="nav-item">
                    <!-- return to the main page of the site-->
                    <div class="nav-link"  th:if="${Title == 'client'}">
                            <form action="returnToMainPage" method="post">
                                <button type="submit" class="btn btn-secondary">Home</button>
                            </form>
                        </div>
                    </li>
                    <!-- button to see the cart page(avilable only to clients )-->
                    <li class="nav-item">
                        <div class="nav-link"  th:if="${Title == 'client'}">
                            <form action="RedirectToCart" method="post">
                                <button type="submit" class="btn btn-secondary">Cart</button>
                            </form>
                        </div>
                    </li>
                    <!--Add product to prdoucts list of the site (avilable only to mangers)-->
                    <li class="nav-item">                    
                        <div class="nav-link" th:if="${Title == 'manager'}"> 
                            <form action="ButtonToAddProduct" method="post">
                                <a href="/add"><button type="button" class="btn btn-primary">Add Product</button></a>
                            </form>
                        </div>
                    </li>
                    <!-- show the of the user and his balance-->
                    <li class="nav-item"> 
                        <div class="nav-link">
                            Hi, <span th:text="${FirstName}">User</span> | Balance: $<span th:text="${Balance}">0.00</span>
                        </div>                    
                    </li>
                
                </ul>
            </div>
        </div>
    </nav>

    <!-- View Images -->
    <!--Main Content-->
    <div class="mt-5">
        <h1 class="text-center">View <span th:text="${pageName}"> </span> Products</h1>
        <div class="container">


            
            <table class="table border">
                <thead>
                    <tr>
                        <th scope="col">Product Code</th>
                        <th scope="col">Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Product Quantity</th>
                        <!-- colm that enables to buy products (avilable only to clients) -->
                        <th th:if="${Title == 'client'}" scope="col">Buy Product</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product : ${productListByCategory}">
                        <td th:text="${product.productCode}"></td>
                        <td><img height="250px" th:src="@{'/display?id=' + ${product.productCode}}" alt="Product Image"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.productPrice}"></td>
                        <td th:text="${product.productQuantity}"></td>
                        <td th:if="${Title == 'client'}">
                            <a th:href="@{/buyProduct/{productCode}(productCode=${product.productCode})}" class="btn btn-success">Buy Product</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



    <!--Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
